<div class="grid">
    <div class="col-5">
        <p-card header="Your XI Players">
            <p-table #dt1  [value]="selectedPlayers" responsiveLayout="scroll" dataKey="Player"
                [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]"
                styleClass="p-datatable-customers p-datatable-gridlines" [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [globalFilterFields]="['Player']">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex">
                        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="dt1.clear();search.value=''"></button>&nbsp;
                        <span class="p-input-icon-left p-ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText #search type="text" (input)="dt1.filterGlobal(search.value, 'contains')"
                                placeholder="Search keyword" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" >
                    <tr>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Player
                                <p-columnFilter type="text" field="col.header" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData  let-rowIndex="rowIndex">
                    <tr>
                        <td >
                            {{rowData['Player']}}
                        </td>
                        <td>
                            <button pButton pRipple type="button" icon="pi pi-trash" (click)="remove(rowIndex)" class="p-button-rounded p-button-text"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
    <div class="col">
        <p-card header="Available Players">
            <p-table #dt2 [columns]="cols" [value]="players" responsiveLayout="scroll" dataKey="Player" [rows]="10"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                styleClass="p-datatable-customers p-datatable-gridlines" [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [globalFilterFields]="['Player','Team','Nation','Role']">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex">
                        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="dt2.clear();search.value=''"></button>&nbsp;
                        <span class="p-input-icon-left p-ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText #search type="text" (input)="dt2.filterGlobal(search.value, 'contains')"
                                placeholder="Search keyword" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                {{col.header}}
                                <p-columnFilter type="text" [field]="col.header" display="menu"></p-columnFilter>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-column="columns" let-rowIndex="rowIndex">
                    <tr (click)="selectPlayer(rowData,rowIndex)">
                        <td *ngFor="let col of column">
                            <!-- <div *ngIf="col.field=='Team'"><img width="50" alt="{{rowData[col.field]}}roundbig.png" src="../../../../../assets/images/team_logos/{{rowData[col.field]}}roundbig.png"/></div> -->
                            <div style="text-align: center;">{{rowData[col.field]}}</div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>
<p-toast></p-toast>